global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres_frontend
    bind *:5432
    default_backend postgres_backend

frontend postgres_reader_frontend
    bind *:5433
    default_backend postgres_reader_backend

backend postgres_backend
    option httpchk GET /leader
    http-check expect status 200
    default-server inter 2s fall 2 rise 1 on-marked-down shutdown-sessions
    server db1 10.77.0.1:5432 check port 8008
    server db2 10.77.0.2:5432 check port 8008
    server db3 10.77.0.3:5432 check port 8008

backend postgres_reader_backend
    balance roundrobin
    option httpchk GET /replica?lag=16777216
    http-check expect status 200
    default-server inter 2s fall 2 rise 1 on-marked-down shutdown-sessions
    server db2 10.77.0.2:5432 check port 8008
    server db3 10.77.0.3:5432 check port 8008
